<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brady.jlulife" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_laucher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561f51dde0f55ad3b20012a6" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="test" />

        <activity
            android:name=".Activities.SlidingMenuMainActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.UIMSAuthActivity"
            android:label="@string/title_activity_uimsauth" >
        </activity>
        <activity
            android:name=".Activities.SemSelectActivity"
            android:label="@string/title_activity_sem_select" >
        </activity>
        <activity android:name=".Activities.CJCXAuthActivity"
            android:label="教务登陆" >

        </activity>
        <activity android:name=".Activities.JLUNewsListActivity"
            android:label="校内通知"/>
        <activity android:name=".Activities.JWNewsListActivity"
            android:label="教务通知"/>
        <activity android:name=".Activities.LibrarySearchActivity"
            android:label="图书馆"/>
        <activity android:name=".Activities.DrcomLoginActivity"
            android:label="校园网登陆"/>
        <activity android:name=".Activities.ScoreListActivity"
            android:label="成绩查询"/>
    </application>

</manifest>
